/* From Uiverse.io by akshat-patel28 */ 
.button-container {
  display: flex;
  background-color: #ffff;
  width: 250px;
  height: 40px;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  /* NUEVAS PROPIEDADES PARA CENTRAR */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.button {
  outline: 0 !important;
  border: 0 !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.button:hover {
  transform: translateY(-3px);
  color: red;
}

.icon {
  font-size: 20px;
}